//Colors

$main_color: #007eaf;
$dark_blue: #243f80;
$background_color: #ffffff;
$grey_color: #666666;;
$white_color: #ffffff;
$black_color: #000000;

//Container
$container: 920px;

//Mixins
@mixin title() {
  font-size: 24px;
  color: $main_color;
  font-weight: 600;
  text-align: center;
  margin: 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: lighten($main_color, 10);
  }
}

//Media queries
$small: 587px;
